:root {
    /* 自定义全局变量 */
    --font-color: #4c4948;
    --daliyuer-bd-rd: 6px;
    --daliyuer-border: #e3e3e3;
    --daliyuer-white: #fff;
    --daliyuer-theme: #49b1f5;
    --daliyuer-theme-op: #9999992b;
    --font-bg: #fff;


    --ichika-color: #49A6E9;
    --ichika-hover-color: #ECAFFF;
    --ichika-widget-hover: #CFF0FF;
    --ichika-font-white: #FDFDFD;
    --ichika-light-green: #B2FFCA;
    --ichika-light-purple: #F6B9FF;
    --ichika-green: #11D991;
    --ichika-purple: #E764FF;
    --ichika-light-grey: #F2F2F2;
    --ichika-card-bg: rgba(255, 255, 255, 0.45);
    --ichika-emphasis-color: #F7F81A;
    --ichika-bgblur: blur(10px);
    --ichika-footer-bg: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.7) 40%);
    --ichika-font-grey: #888888;
    --ichika-categorycard-bg: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) --icat-fontcolor: black;
    --icat-background: #fff;
}

[data-theme='dark'] {
    --daliyuer-border: #e3e3e3;
    --font-bg: #0d0d0d;
    --font-color: rgba(255, 255, 255, 0.7);
    --icat-fontcolor: #F7F7FA;
    --icat-background: #18171d;
    --global-bg: black;
    --ichika-color: #1688C9;
    --ichika-widget-hover: #1B6587;
    --ichika-card-bg: rgba(0, 0, 0, 0.7);
    --ichika-footer-bg: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 40%);
    --ichika-font-grey: #BBBBBB;
    --ichika-categorycard-bg: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}

/* 自定义全局变量end */

@font-face {
    font-family: 'daliyuer';
    /* 字体名自定义即可 */
    /* src: url('https://cdn.jsdelivr.net/gh/daliyuer13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2'); */
    src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: daliyuer !important;
}

/* 自定义字体 */

/* twikoo评论美化 */
/* 自定义twikoo评论输入框高度 */
#twikoo .el-textarea textarea {
    min-height: 120px !important;
    background-size: 90px;
}

/* 自定义表情优化 */
#twikoo .OwO-body {
    max-width: 100% !important;
}

/* 选择某个框 #twikoo .OwO .OwO-body .OwO-items:nth-child(1) */
#twikoo .OwO .OwO-body .OwO-items {
    max-height: 250px !important;
}

.OwO .OwO-body .OwO-items-image .OwO-item {
    max-width: calc(9% - 10px);
    box-sizing: content-box;
}

.OwO .OwO-body .OwO-items-image .OwO-item[title|="Heybox"],
.OwO .OwO-body .OwO-items-image .OwO-item[title|="Tieba"],
.OwO .OwO-body .OwO-items-show .OwO-item[title*="bilibili"] {
    max-width: calc(7% - 10px) !important;
    box-sizing: content-box;
}

#twikoo .OwO-items li img {
    width: 100% !important;
}

.tk-comment .vemoji[alt|="Menhera"],
.tk-comment .tk-owo-emotion[alt*="Menhera"],
.tk-comment .vemoji[alt|="Snow"],
.tk-comment .tk-owo-emotion[alt*="Snow"],
.tk-comment .vemoji[alt|="Sweetie"],
.tk-comment .tk-owo-emotion[alt*="Sweetie"],
.tk-comment .vemoji[alt|="Tsuri"],
.tk-comment .tk-owo-emotion[alt*="Tsuri"],
.tk-comment .vemoji[alt|="Yurui"],
.tk-comment .tk-owo-emotion[alt*="Yurui"] {
    max-width: 120px !important;
    max-height: 120px !important;
    width: 120px;
    margin: 8px 1px;
    display: block !important;
}

/* 手机端适配 */
@media screen and (max-width: 768px) {

    .tk-comment .vemoji[alt|="Menhera"],
    .tk-comment .tk-owo-emotion[alt*="Menhera"],
    .tk-comment .vemoji[alt|="Snow"],
    .tk-comment .tk-owo-emotion[alt*="Snow"],
    .tk-comment .vemoji[alt|="Sweetie"],
    .tk-comment .tk-owo-emotion[alt*="Sweetie"],
    .tk-comment .vemoji[alt|="Tsuri"],
    .tk-comment .tk-owo-emotion[alt*="Tsuri"],
    .tk-comment .vemoji[alt|="Yurui"],
    .tk-comment .tk-owo-emotion[alt*="Yurui"] {
        max-width: calc(100% - 30px) !important;
        max-height: calc(100% - 30px) !important;
    }

    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Menhera"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Snow"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Sweetie"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tsuri"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Yurui"] {
        max-width: calc(33% - 10px);
        box-sizing: border-box;
    }

    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Heybox"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="bilibili"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tieba"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="QQ"] {
        max-width: calc(18% - 10px) !important;
        box-sizing: content-box;
    }
}

/* 右下角闭眼 */
.el-textarea__inner {
    background-image: url(https://tuchuang.voooe.cn/images/2023/01/02/open.webp) !important;
}

.el-textarea__inner:focus {
    background-image: url(https://tuchuang.voooe.cn/images/2023/01/02/close.webp) !important;
}

.loading-img {
    background: url(/img/avatar-icon.jpg) no-repeat center center;
    background-size: cover;
}

/* -------------------------------------- */


/* -------------------------------------- */
/* 版权样式调整 */
#post .post-copyright {
    background: var(--icat-card-bg);
    padding: 1rem 1.3rem;
    overflow: hidden;
    border: var(--style-border);
    border-width: 1px;
    transition: 0.3s;
    position: relative;
    margin: 1.5rem 0px 0.5rem;
    border-radius: 8px;
}

#post .post-copyright:before {
    position: absolute;
    right: 22px;
    top: -77px;
    content: "\e039";
    font-size: 180px;
    font-family: "iconfont";
    color: var(--icat-fontcolor);
    opacity: 0.1;
    filter: blur(7px);
}

/* 版权样式调整 */

/* -------------------------------------- */

.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 5;
}

.waves-area .waves-svg {
    width: 100%;
    height: 5rem;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #f7f9febd;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #f7f9fe82;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #f7f9fe36;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #f7f9fe;
}

[data-theme="dark"] .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #070709c8;
}

[data-theme="dark"] .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #07070980;
}

[data-theme="dark"] .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #0707093e;
}

[data-theme="dark"] .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #070709;
}

/* 黑色模式背景 */

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves-area .waves-svg {
        height: 40px;
        min-height: 40px;
    }
}

/* 波浪样式 */



/* -------------------------------------- */


/* 友情链接样式 */
.flink-item-icon {
    margin-right: 0 !important;
    transition: .5s !important;
}

/* 头像微调 */

#article-container .flink .flink-list>.flink-list-item::before {
    content: none;
}

/* 去掉原来自带的before */

#article-container .flink .flink-list>.flink-list-item:hover {
    background-color: #49B1F5;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transition: 0.5s;
}

/* 鼠标经过改变背景 */

#article-container .flink .flink-list>.flink-list-item:hover a {
    color: white !important;
}

/* 鼠标经过改变文字颜色 */

#article-container .flink .flink-list>.flink-list-item:hover .flink-item-icon {
    width: 60px;
    margin-left: -70px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

@media screen and (max-width: 900px) {
    #article-container .flink .flink-list>.flink-list-item:hover .flink-item-icon {
        width: 90px;
        height: 90px;
        border-radius: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    #article-container .flink .flink-list>.flink-list-item:hover .flink-item-tag {
        display: none;
    }
}

/* 鼠标经过头像滚动 */

#article-container .flink .flink-list>.flink-list-item a .flink-item-icon {
    margin: 26px 21px;
    width: 66px;
    height: 66px;
    border-radius: 33px;
}

#article-container .flink .flink-list>.flink-list-item a {
    display: block;
    height: 100%;
}

#article-container .flink .flink-item-name {
    text-align: start;
    padding: 40px 12px 0;
    height: auto;
    padding-bottom: 10px;
}

#article-container .flink .flink-item-desc {
    text-align: start;
    padding: 10px 12px 0;
    height: auto;
}

.flink-item-tag {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 2px 6px;
    color: var(--icat-white);
    z-index: 1;
    border-radius: 6px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: 0.3s;
    font-size: 0.6rem;
    opacity: .8;
}

/* 友联推荐Tag */

/* PC端友联页样式 */

#article-container .flink>h2 {
    margin: 20px 7px 0;
}

#article-container .flink .flink-desc {
    margin: 0 7px;
    color: var(--icat-secondtext);
}

#article-container .flink .flink-list {
    padding: 10px 0 0;
}

#article-container .flink .flink-list>.flink-list-item {
    border: 1px solid var(--icat-secondbg) !important;
    background: var(--icat-card-bg);
    height: 120px;
    margin: 8px 8px;
    width: calc(100% / 4 - 16px);
}

@media screen and (max-width: 900px) {
    #article-container .flink .flink-list>.flink-list-item {
        height: 110px;
    }

    #article-container .flink .flink-list>.flink-list-item {
        border: 2px solid var(--icat-secondbg) !important;
    }

    #article-container .flink .flink-list {
        padding: 10px 0 0;
    }

    #article-container .flink .flink-list>.flink-list-item {
        margin: 6px 6px;
        width: calc(50% - 12px) !important;
    }

    #article-container .flink>h2 {
        margin: 20px 12px 0;
    }

    #article-container .flink .flink-desc {
        margin: 0 12px;
    }

    #article-container .flink .flink-item-name {
        font-size: 1.1rem;
        padding: 30px 12px 0;
    }

    #article-container .flink .flink-list>.flink-list-item a .flink-item-icon {
        position: absolute;
        bottom: -30%;
        right: 0;
        float: right;
        width: 100px;
        height: 100px;
        -webkit-transform: translate(35%, 30%);
        -moz-transform: translate(35%, 30%);
        -o-transform: translate(35%, 30%);
        -ms-transform: translate(35%, 30%);
        transform: translate(35%, 30%);
        margin-top: -12px;
        margin-left: -12px;
        border-radius: 26px;
        opacity: .2;
    }

    .flink-item-tag {
        top: 8px;
        right: 8px;
    }
}

/* PE端友联页样式 */

/* iCat新友链样式 */




/* ----------- */

/* mini友情链接 */
#article-container .flink .flink-list>.flink-list-item.mini {
    height: 60px;
    width: calc(100% / 6 - 16px);
}

#article-container .flink .flink-list>.flink-list-item.fnull {
    height: 40px;
    width: auto !important;
}

#article-container .flink .flink-list>.flink-list-item.mini a .flink-item-icon {
    margin: 9px 9px;
    width: 40px;
    height: 40px;
}

#article-container .flink .flink-list>.flink-list-item.mini:hover .flink-item-icon {
    width: 40px;
    margin-left: -70px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#article-container .flink .flink-list>.flink-list-item.mini .flink-item-name {
    padding: 21px 12px;
    font-size: 1.23em;
}

#article-container .flink .flink-list>.flink-list-item.fnull .flink-item-name {
    padding: 10px 16px;
    font-size: 1.13em;
}

@media screen and (max-width: 900px) {
    #article-container .flink .flink-list>.flink-list-item.mini {
        width: calc(100% / 3 - 12px) !important;
    }

    #article-container .flink .flink-list>.flink-list-item.mini a .flink-item-icon {
        bottom: 0;
        width: 60px;
        height: 60px;
        -webkit-transform: translate(35%, 50%);
        -moz-transform: translate(35%, 50%);
        -o-transform: translate(35%, 50%);
        -ms-transform: translate(35%, 50%);
        transform: translate(35%, 50%);
        border-radius: 50%;
    }

    #article-container .flink .flink-list>.flink-list-item.mini:hover .flink-item-icon {
        bottom: -2px;
        right: 6px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    #article-container .flink .flink-list>.flink-list-item.mini .flink-item-name {
        font-size: 1.13em;
    }

    #article-container .flink .flink-list>.flink-list-item.fnull .flink-item-name {
        font-size: 1em;
    }
}

/* mini友联栏样式 */



/* 归档、标签、分类页 */
.layout.hide-aside {
    max-width: 1200px;
}

#archive,
#tag,
#category {
    background: var(--ichika-card-bg);
    padding: 25px 10px;
}

.article-sort-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.article-sort-item::before,
.article-sort-title::before,
.article-sort-title::after {
    content: none;
}

.article-sort .year {
    width: 100% !important;
    border-bottom: dashed 5px var(--ichika-color);
    font-size: 26px;
    margin-top: 20px;
}

.article-sort {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    padding: 0;
}

.article-sort-item:not(.year) {
    padding: 8px 10px;
    width: calc(50% - 0.8rem);
    margin: 0.4rem;
    border: 2px solid var(--ichika-color);
    border-radius: 15px;
    background: var(--card-bg);
    transition: 0.5s;
    height: 120px;
}

.article-sort-item-a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.article-sort-item-img {
    transition: 0.5s;
    height: 90px;
    width: 140px;
}

.article-sort-item>a>img {
    border-radius: 15px;
}

.article-sort-item-title {
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 25px;
    text-overflow: ellipsis;
}

.article-sort-item-title:hover {
    transform: none;
}

.article-sort-meta {
    height: max-content;
    position: relative;
}

.article-sort-meta>.article-meta-wrap {
    float: left;
}

.article-sort-meta>.article-sort-item-time {
    float: right;
}

.article-sort-item-categories,
.article-sort-item-tags {
    margin: 0 3px;
    padding: 5px 8px;
    border-radius: 25px;
    border: 1px solid var(--dark-grey);
    font-size: 12px;
    transition: 0.5s;
}

.article-sort-item-info>div:not(.article-sort-meta) {
    display: flex;
}

.article-sort-description,
.article-sort-item>i {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
}

.article-sort-description {
    width: 0;
    height: 59px;
    vertical-align: middle;
    margin: 5px 10px 0 15px;
    text-overflow: ellipsis;
}

.article-sort-item:hover:not(.year) {
    background-color: var(--ichika-color);
    box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year) {
    background-color: var(--ichika-color);
    box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year)>i {
    width: auto;
    opacity: 1;
}

.article-sort-item:hover:not(.year) .article-sort-description {
    width: auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img {
    transition: 0.5s;
    width: 0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title {
    color: var(--ichika-font-white) !important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year) .article-sort-item-time {
    color: var(--ichika-light-grey) !important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories {
    border: 1.5px solid var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags {
    border: 1.5px solid var(--ichika-purple);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover {
    background: var(--ichika-green);
    box-shadow: 0 0 5px var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover {
    background: var(--ichika-purple);
    box-shadow: 0 0 5px var(--ichika-purple);
}

@media screen and (max-width:768px) {
    .article-sort-item:not(.year) {
        width: 100%;
    }

    .article-sort-meta>.article-meta-wrap {
        display: none;
    }

    .article-sort-item-title {
        font-size: 16px;
    }

    .article-sort-item-img {
        width: 90px;
    }
}

/* 归档、标签、分类页 */



/* 页脚 */
/* 自定义底部  start */

#footer {
    border-top: 1px solid var(--daliyuer-border);
    background-color: var(--font-bg) !important;
}

/* #footer-wrap {
    background-color: var(--font-bg);
} */


#footer-wrap,
#footer-wrap a {
    color: var(--font-color)
}

#ft {
    max-width: 1200px;
    margin: 0 auto 12px;
    display: flex;
    color: var(--font-color) !important;
    text-align: left;
    flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
    display: flex;
    height: 100%;
    padding: 10px 14px;
}

.ft-item-1 {
    flex-direction: column;
    flex: 2;
}

.ft-item-2 {
    flex: 1;
    flex-direction: column;
}

.t-top {
    display: flex;
}

.t-top .t-t-l {
    display: flex;
    flex-direction: column;
    flex: 1.4;
    margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
    width: 85%;
    border-radius: 10px;
    padding: 0 10px;
}

.btn-xz-box {
    margin-top: 10px;
}

.btn-xz {
    display: block;
    background-color: var(--btn-bg);
    color: var(--daliyuer-white) !important;
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
    cursor: pointer !important;
    border-radius: var(--daliyuer-bd-rd);
}

.btn-xz:hover {
    text-decoration: none !important;

}

.btn-xz-box:hover .btn-xz {
    background-color: #6f42c1;
}

.t-top .t-t-r {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ft-links {
    padding: 0 14px;
    list-style: none;
    margin-top: 0 !important;
}

.ft-links li a {
    display: inline-block !important;
    width: 50%;
    cursor: pointer !important;
}

.ft-links li a:hover {
    text-decoration: none !important;
    color: #6f42c1 !important;
}

.ft-item-2 .ft-img-group {
    width: 100%;
}

.ft-t {
    font-size: 0.8rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
}

.t-l-t {
    padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
    display: inline-block;
    width: 18.4%;
    margin-right: 14px;
    margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
}

.ft-item-2 .ft-img-group .img-group-item a img {
    width: 100%;
    max-height: 80px;
}

@media screen and (max-width: 768px) {

    .ft-item-1 {
        flex-basis: 100% !important;
    }

    .ft-item-2 {
        flex-basis: 100% !important;
    }

    .t-top .t-t-l .bg-ad {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .t-top {
        flex-wrap: wrap;
    }

    .t-top .t-t-l {
        flex-basis: 100% !important;

    }

    .t-top .t-t-r {
        margin-top: 16px;
        flex-basis: 100% !important;
    }
}

/* 自定义底部  End */

/* 页脚end */

/* 打赏外置阿里图标 */
svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 20px;
}

/* 打赏外置阿里图标 end*/

/* 表情包放大 */
#owo-big {
    position: fixed;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px #aaa solid;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    transform: translate(0, -105%);
    overflow: hidden;
    animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
    background-color: #4a4a4a
}

#owo-big img {
    width: 100%;
}

/* 动画效果代码由 Heo：https://blog.zhheo.com/ 提供 */
@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0;
    }

    100% {
        transform: translate(0, -105%);
        opacity: 1;
    }
}

/* 表情包放大 end */


/* Twikoo 评论美化 */
/* #post-comment .comment-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* #post-comment .comment-privacy a {
    color: var(--font-color);
} */

#post-comment .comment-privacy a:hover {
    color: #409eff;
}

#post-comment .comment-headline {
    display: flex;
    align-items: center;
}

#post-comment .comment-headline>i {
    padding: 0 0 0 6px;
    font-size: 1em;
}

blockquote> :last-child {
    margin: auto !important;
}

.el-input--small .el-input__inner {
    height: 40px !important;
}

.el-input-group__prepend {
    border-radius: 8px 0 0 8px !important;
}

.el-input__inner {
    border-radius: 0 8px 8px 0 !important;
}

.el-textarea__inner {
    border-radius: 8px !important;
}

.el-textarea>textarea {
    height: 120px !important;
}

.el-button--small {
    border-radius: 4px !important;
}

/* 评论编辑块调整 */

/* .tk-submit-action-icon.__markdown {
    display: none;
} */

/* markdown编辑快隐藏 */

.tk-avatar {
    border-radius: 4px !important;
}

.tk-comment .tk-submit .tk-avatar,
.tk-replies .tk-avatar {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

.tk-comment .tk-submit .tk-avatar .tk-avatar-img,
.tk-replies .tk-avatar .tk-avatar-img {
    height: 2.5rem !important;
}

.tk-ruser {
    color: #409eff;
    opacity: .8;
}

@media screen and (max-width: 768px) {

    .tk-comment .tk-submit .tk-avatar,
    .tk-replies .tk-avatar {
        height: 2rem !important;
        width: 2rem !important;
    }

    .tk-comment .tk-submit .tk-avatar .tk-avatar-img,
    .tk-replies .tk-avatar .tk-avatar-img {
        height: 2rem !important;
    }
}

.tk-nick,
.tk-meta a strong {
    font-size: 18px;
    color: #409eff;
}

.tk-tag-green {
    border: var(--style-border) !important;
    border-radius: 4px !important;
    margin-left: 0.2rem;
}

.tk-time {
    margin-left: 0.4rem;
}

.tk-extras {
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--hr-border);
}

.tk-extra {
    border: var(--style-border-always);
    padding: 4px 6px 4px 6px;
    border-radius: 8px;
    margin-right: 4px !important;
}

.tk-expand {
    margin-top: 8px;
    background-color: var(--icat-background);
    color: var(--icat-fontcolor);
    border-radius: 8px;
    border: var(--style-border);
}

.tk-footer {
    padding-bottom: 1em;
}

.tk-footer a {
    color: #999999;
}

.tk-footer a:hover {
    color: #409eff;
}

.tk-admin-comment-item {
    padding: 1em;
    background: var(--global-bg);
    border-radius: 12px;
    border: var(--style-border-always);
    margin-bottom: 12px;
}

.tk-admin-comment-meta,
.tk-content {
    color: var(--icat-fontcolor);
}

.tk-admin-actions {
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}

/* 评论管理 */

.tk-panel {
    border: var(--style-border-always);
}

.tk-admin-config-groups {
    padding: 0.5em;
    background: var(--global-bg);
    border-radius: 12px;
    border: var(--style-border-always);
}

.tk-admin-config-groups .tk-admin-config-group-title {
    background: var(--icat-background) !important;
    border-radius: 6px;
    border: var(--style-border-always);
    color: var(--icat-fontcolor);
}

.tk-admin-config-item {
    color: var(--icat-fontcolor);
}

/* 配置管理 */

/* 评论区样式 */
/* Twikoo 评论美化 end*/